.navbar{
    display: flex;
    justify-content: end;
    align-items: end;
    word-spacing: 2rem;
}
a{
    color: dodgerblue;
}
.heading{
    text-align: center;
    color: hotpink;

}
.card{
    padding: 1rem;
    margin: 1rem;
    display: flex;
}